Klawiatura/Listings/KlaawiaturaPoWierszach.lst
Klawiatura/Listings/KlawiaturaPoKolumnach.lst
Klawiatura/Listings/KlawiaturaPoKolumnach.map
Klawiatura/Listings/KlawiaturaPoWierszach.map
Klawiatura/Objects/KlaawiaturaPoWierszach.obj
Klawiatura/Objects/KlawiaturaPoKolumnach
Klawiatura/Objects/KlawiaturaPoKolumnach.SBR
Klawiatura/Objects/KlawiaturaPoKolumnach.build_log.htm
Klawiatura/Objects/KlawiaturaPoKolumnach.hex
Klawiatura/Objects/KlawiaturaPoKolumnach.obj
Klawiatura/Objects/KlawiaturaPoWierszach
Klawiatura/Objects/KlawiaturaPoWierszach.SBR
Klawiatura/Objects/KlawiaturaPoWierszach.build_log.htm
Klawiatura/Objects/KlawiaturaPoWierszach.hex
LCD/Listings/LCD.lst
LCD/Listings/WyswietlaczLCD.lst
LCD/Listings/WyswietlaczLCD.map
LCD/Listings/wait1.lst
LCD/Objects/WyswietlaczLCD
LCD/Objects/WyswietlaczLCD.SBR
LCD/Objects/WyswietlaczLCD.obj
LCD/Objects/wait1.obj
Schemat/Last Loaded PROJ2.pdsbak

*.hex
*.pdsbak
*.SBR
*.htm
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
